body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

p {
  line-height: 20px;
  text-align: justify;
}

h3, h4 {
  font-size: 25px;
  letter-spacing: 2px;
}

section {
  padding: 20px;
  padding-bottom: 40px;

  margin: 20px 20px 40px 20px;
}

footer {
  background: #2d2f3b;
  text-align: center;
  
}

footer ul {
  margin: 0;
  padding: 15px;
}

footer ul li{
  display: inline;
  margin: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.info-section {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;

  max-width: 700px;
  min-height: 300px;
  box-shadow: 0 2px 6px #b1cae2, 0 10px 10px rgba(0,0,0,0.1);
}

form {
  background: white;
  text-align: center;
  box-shadow: 0 2px 6px #b1cae2, 0 10px 10px rgba(0,0,0,0.1);

  width: 350px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 60px 20px;
}

form h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

textarea, input {
  width: 200px;

  border: 0;
  border-bottom: 1px solid black;
  margin-left: 10px;
}

input {
  height: 30px;
  margin-bottom: 20px;
}

#contact-button {
  border-width: 0;
  border-radius: 2px;

  background-color: cornflowerblue;
  color: white;
  box-shadow: 1px 1px royalblue;
  padding: 10px 30px;
  margin: 30px;

  transition: background-color .3s;
}

#contact-button:hover {
  background-color: royalblue;
}

nav {
  background: cornflowerblue;
  color: white;
  height: 45px;
  padding: 10px 25px;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.6);
}

nav h1 {
  margin: -10px;
  display: inline-block;
}

nav ul {
  display: inline;
}

nav ul li {
  display: inline;
  margin-left: 30px;

}

#avatar-photo {
  width: 150px;
  height: auto;
  margin: 0px 20px;
  float: left;
}

#project-images {
  text-align: center;
}

#project-images img {
  width: 150px;
  height: 150px;
  margin: 20px;
}
